.card {
  max-width: 600px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

form {
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}


.userAvatar {
  height: 200px;
  width: auto;
  border-radius: 3px;
  margin: auto;
}

.name {
  margin: 0px;
  padding: 0px;
}

.location {
  margin: 0px;
  padding: 0px;
}

.avatar {
  height: 25px;
  vertical-align: middle;
  border-radius: 3px;
}

.followers {
  display: flex;
  flex-wrap: wrap;
  
  margin: 15px auto;

  
}

.follower {
  margin: 5px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 3px 3px 2px grey;
}

.follower:hover {
  box-shadow: none;
  cursor:pointer;
  
}

.follower a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  margin: 4px;
}



